<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="container">
        <h1>Simple File Converter</h1>
        <button class="button button1">Upload File</button>
        <button class="button button2">Convert</button>
        <button class="button button3">Download</button>
        <div class="w3-blue-grey">
            <div class="w3-container w3-green w3-center" id="conversion_progress" style="width:25%">25%</div>
          </div><br>
    </div>
</body>
</html>
